@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

::selection {
  background: #b4d5fe !important;
}

@layer components {
  .app-input {
    @apply input input-bordered w-full border-gray focus:outline-sun-yellow focus:border-sun-yellow bg-white text-dark-gray;
  }

  .app-textarea {
    @apply textarea textarea-bordered w-full border-gray focus:outline-sun-yellow focus:border-sun-yellow bg-white text-dark-gray;
  }

  .app-icon-button {
    @apply btn btn-lg gap-2 rounded-full bg-sun-yellow text-white border-sun-yellow outline-sun-yellow hover:bg-gray;
  }

  .app-button {
    @apply btn btn-lg capitalize text-gray border-gray bg-transparent py-2 px-4 border hover:bg-gray hover:border-gray hover:text-white font-normal;
  }
}

.app-textarea {
  font-size: 16px;
}

.app-button {
  font-size: 27px;
  border-radius: 32px;
}

.footer-box-shadow {
  box-shadow: 0px -27px 107px rgba(0, 0, 0, 0.07),
    0px -8.13971px 32.2574px rgba(0, 0, 0, 0.0456112),
    0px -3.38082px 13.3981px rgba(0, 0, 0, 0.035),
    0px -1.22278px 4.84582px rgba(0, 0, 0, 0.0243888);
}

.navbar-box-shadow {
  box-shadow: 0px 100px 185px rgba(0, 0, 0, 0.06),
    0px 30.1471px 55.7721px rgba(0, 0, 0, 0.0390953),
    0px 12.5216px 23.1649px rgba(0, 0, 0, 0.03),
    0px 4.5288px 8.37828px rgba(0, 0, 0, 0.0209047);
}

mark {
  @apply inline pr-1 pl-1 pb-1 py-0 md:pb-2 bg-light-yellow;
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}
